<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TA-Allocation System</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../../static/student/css/main.css">
		<style>
			th,td
				{
				margin-left:25%;
				width:100px;
				}
			.classx
				{
				color : "gray";
				}
			.classx
				{
				color : "gray";
				}
		</style>
	</head>
	<body id="home" data-spy="scroll" data-target=".main-nav" data-offset="73">
		<div id="parallax" style="top: 72px;"></div><br><br>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="../../static/student/js/bootstrap.js"></script>
		<!--<div class="container">-->
		<section id="header">

		    <nav class="navbar navbar-fixed-top" role="navigation">

		        <div class="navbar-inner">
		            <div class="container">

		                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#navigation"></button>

		                <!-- Logo goes here - replace the image with your -->
		                <a href="/index" class="navbar-brand"><img src="../../static/student/img/PicsArt_1387445327268.jpg" alt="Booom! Logo" ></a>
		                Login: {{user}}


		                <!--<div class="collapse navbar-collapse main-nav" id="navigation">-->


		                    <ul class="nav pull-right">

		                        <!-- Menu items go here -->
		                        <li class="hidden active"><a href="/">Home</a></li>
		                        <li class=""><a href="#About">About</a></li>
		                        <li class=""><a href="#Contact">Contact</a></li>
		                        <li class=""><a href="/logout">Sign Out</a></li>
		    
		                        <!-- If you want sub-menu items, do them like this
		                        <li>
		                            <ul>
		                              <li><a href="#">Item 1</a></li>
		                              <li><a href="#">Item 2</a></li>
		                            </ul>
		                        </li> 
		                        You just need to delete these comment lines -->
		                    </ul>

		                <!--</div>--><!-- /nav-collapse -->
		            </div><!-- /container -->
		        </div><!-- /navbar-inner -->
		    </nav>

		</section>
		<!--<section id="header">	
			
			<nav class="navbar navbar-fixed-top" role="navigation">
            	
            	<div class="navbar-inner">
                	<div class="container">
                  		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#navigation"></button>
                  		<div class="collapse navbar-collapse main-nav" id="navigation">
                  		<ul class="nav">
                    		<li class="hidden active"><a href="#">Home</a></li>
                    		<li><a href="#">Projects</a></li>
                    		<li><a href="#">Services</a></li>
                    		<li><a href="#">Downloads</a></li> 
                    		<li><a href="#About">About</a></li>
                    		<li><a href="#Contact">Contact</a></li>
                  		</ul>
                  		</div>
                	</div>
            	</div>
       		</nav>
       		<hr>
       	</section>-->
       	<section id="hero">
       		
       		<div class="container">
		   		<br><br><!--<br><h1 class="muted text-muted text-center classx"><a href="">My Profile</a></h1>-->
		   		
		   		<div class="row">
			   		<div class="col-md-12 hero-unit">
			   		<a href="/admin">Go to Admin panel</a>
					
					<p>{{str}}</p>
						<form id="f1" action="/admin/addusers/excels" method="post" enctype="multipart/form-data">
							<h2 class="text-center"><strong>Add User</strong></h2><br><br>
							<!--<div style="width:200px; margin:0 auto; margin-top:3%;">-->
							<div style="width:800px; margin:0 auto;" class="text-left">		
								<br><br>
								<table>
									{{ form.as_table }}
								</table>
							</div>
							
							<!--<h2 class="text-center"><strong>User Profile</strong></h2>
							<h4>Username</h4><input id="uname" name ="uname" type="text" value="{{ uname }}">-->
							
							{% csrf_token %}
							<!--<div style="width:50px; margin:0 auto; margin-top:3%;">-->
							<div class="text-center">
								<br><input type="submit" class="btn btn-large btn-success" value="Upload">
							</div>
						</form>
						</div>
	 			</div>
 			</div><br><br>
 			<!--<div class="row">
         		<div class="span4">
             		<ul class="nav nav-list">
    				<li class="nav-header">What we are?</li>
    				<li class="active"><a href="#">Home</a></li>
    				<li><a href="#">Our Clients</a></li>
    				<li><a href="#">Our Services</a></li>
    				<li><a href="#">About Us</a></li>
    				<li><a href="#">Contact Us</a></li>
    				<li class="nav-header">Our Friend</li>
    				<li><a href="#">Google</a></li>
    				<li><a href="#">Yahoo!</a></li>
    				<li><a href="#">Bing</a></li>
    				<li><a href="#">Microsoft</a></li>
    				<li><a href="#">Gadgetic World</a></li>
					</ul>
        		</div>
         		<div class="span8">
             		<h3>How we started ?</h3>
 
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
 
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
 
					<h3>How do we market?</h3>
 
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
 
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
         		</div>
     		</div>-->
     		
     		<section id="testimonials">
     			<div class = "container">
     				<div class = "row">
						<div class="span5 col-md-4 text-center" id = "About">
							
							<h4 class="muted text-center">About</h4>
							<p>This is a freeware service designed by students of <a href="http://www.iiitd.ac.in/" rel="nofollow">IIIT - Delhi</a> as a BYLD project.</p>
							<img src="../../static/student/img/about_us.png" alt="Booom! Logo" height=100 width=340><br><br>
						</div>
						<div class="span2">
						</div>
						<div class="span5 col-md-4 text-center" id="Contact">
							
							<h4 class="muted text-center">Contact</h4>
							
							<p>	Prakhar Gupta - prakhar11074@iiitd.ac.in <br>
						Pulkit Arora - pulkit12082@iiitd.ac.in <br>
						Manish Rana - manish11063@iiitd.ac.in<br>
						Sourabh Singh - sourabh11112@iiitd.ac.in<br>
						Gagan Khanijau - gagan11046@iiitd.ac.in<br>
						Bhavna Nagpal - bhavna13029@iiitd.ac.in<br>
							</p>
							<img src="../../static/student/img/contactusf.png" alt="Booom! Logo" height=100 width=300><br><br>
						</div>
						<!--<div class="span4">
							<h4 class="muted text-center">Reach Us</h4>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
							<a href="#" class="btn btn-info">Contact Us</a>
						</div>-->
					</div>
				</div>
			</section>
			
			
			
			<section id="footer">
				<div class="bottom-menu-inverse">

				    <div class="container">

				        <div class="row">
				            <div class="col-md-6">
				                <p>Copyright © 2014 <br>Made by Prakhar Gupta, Pulkit Arora, Manish Rana, Sourabh Singh, Gagan Khanijau and Bhavna Nagpal</p>
				            </div>

				            
				        </div>
				    
				    </div><!-- /row -->
				</div><!-- /container -->

			</section>
			
			
			<!--<section id="features">
				<div class="container">
					<div class = "row">
						<div class="footer">
							<p>&copy; 2013</p>
						</div>
					</div>
				</div>
			</section>-->
	</body>
</html>
