<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TA-Allocation System</title>
      <link href='../../static/student/css/bootstrap.min.css' rel='stylesheet'>
      <link href='../../static/student/css/home-specific.css' rel='stylesheet'>
      <link href='../../static/student/css/siimple.css' rel='stylesheet'>


  </head>
  <body style='background-image:url(../../static/student/img/iiitd1.jpg); background-size: 139%, 139%;' >
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="../../static/student/js/bootstrap.js"></script>
    <!--<div class="container">-->

  <!-- Static navbar -->
          <div class='navbar navbar-default' role='navigation'>
            <div class='container-fluid'>
              <div class='navbar-header'>

                  <a class='navbar-brand' href='/'><span style='color: #000;'>TA ALLOCATION PORTAL</span></a>
                </div>
              <div class='navbar-collapse collapse'>

              <ul class='nav navbar-nav navbar-right'>
                <li class='active'><a href='/admin'>{{user}}</a></li>
                  <li><a href = "/">Home</a></li>                
                <li><a  class = 'button' href = "#" data-toggle="modal" data-target="#about-modal">About</a></li>           
                <li><a href = "#" data-toggle="modal" data-target="#contact-modal">Contact</a></li>
               <li><a href = "/logout">Sign Out</a></li>
            </ul>
              </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
      </div>




      <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true" style = 'margin: 0;
    position: absolute;
    top: 10%;'>

      <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel" style="font-family: Futura, &quot;Trebuchet MS&quot;, Arial, sans-serif; font-size:40px; text-align:center">User Details</h4>
          </div>
          <div class = 'modal-body'>
            <form id="f1" action="" method="post" >
              <div style="width:800px; margin:0 auto;" class="text-left">   
                <br><br>          <p>{{str}}</p>

                <div class = 'col-md-3'
                  <strong>Email ID:</strong>
                  {{ entry.loginid }}
                </p>
                <p>
                  <strong>Role:</strong>
                  {{ role }}
                </p>
                
                
              </div>
              
             
              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
    </div>


            
            
          </div>
        </div>
      </div><br><br>

        
 </body>
</html>
