

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TA-Allocation System</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../../static/student/css/main.css">
		<style>
			th,td
				{
				margin-left:25%;
				width:100px;
				}
			.classx
				{
				color : "gray";
				}
			.classx
				{
				color : "gray";
				}
		</style>
	</head>
	<body id="home" data-spy="scroll" data-target=".main-nav" data-offset="73">
		<div id="parallax" style="top: 72px;"></div><br><br>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="../../static/student/js/bootstrap.js"></script>
		<!--<div class="container">-->
		<section id="header">

		    <nav class="navbar navbar-fixed-top" role="navigation">

		        <div class="navbar-inner">
		            <div class="container">

		                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#navigation"></button>

		                <!-- Logo goes here - replace the image with your -->
		                <a href="/index" class="navbar-brand"><img src="../../static/student/img/PicsArt_1387445327268.jpg" alt="Booom! Logo" ></a>
		                Login: {{user}}


		                <!--<div class="collapse navbar-collapse main-nav" id="navigation">-->


		                    <ul class="nav pull-right">

		                        <!-- Menu items go here -->
		                        <li class="hidden active"><a href="/">Home</a></li>
		                        <li class=""><a href="#About">About</a></li>
		                        <li class=""><a href="#Contact">Contact</a></li>
		                        <li class=""><a href="/logout">Sign Out</a></li>
		    
		                        <!-- If you want sub-menu items, do them like this
		                        <li>
		                            <ul>
		                              <li><a href="#">Item 1</a></li>
		                              <li><a href="#">Item 2</a></li>
		                            </ul>
		                        </li> 
		                        You just need to delete these comment lines -->
		                    </ul>

		                <!--</div>--><!-- /nav-collapse -->
		            </div><!-- /container -->
		        </div><!-- /navbar-inner -->
		    </nav>

		</section>
		<section id="hero">
       		
       		<div class="container">
		   		<div class="row">
			   		<div class="col-md-12 hero-unit" style="padding-top:30px;padding-bottom:30px;">
						<h4 class="text-center"><strong>Unselected TA's for {{cid}}</strong></h4>
						<table>
							<td style="width:350px"><strong>TA Email</strong></td>
							<td style="width:350px"><strong>TA Name</strong></td>
							<td style="width:250px"><strong>Program</strong></td>
							<td style="width:170px"></td>
							<td></td>
						{% csrf_token %}
						{% for element in not_selected %}
							<tr>
								<td>{{ element.uid.loginid.loginid }}</td>
								<td>{{ element.uid.name }}</td>
								{% if program == 0 %}
								<td>B Tech</td>
								{% elif program == 4 %}
								<td>MTech 1st Year</td>
								{% elif program == 5 %}
								<td>MTech 2nd Year</td>
								{% elif program == 7 %}
								<td>PhD</td>
								{% endif %}
								<td><form action="" method="post">
								{% csrf_token %}
								<input type="submit" class="btn btn-primary" value="Select">
								<input type="hidden" value="{{cid}}" name="cid" />
								<input type="hidden" value="1" name="samepage" />
								<input type="hidden" value="{{ element.uid.loginid }}" name="loginid" />
								<input type="hidden" value="1" name="type" />
								</form></td>
						</tr>
						{% endfor %}

					</table>
					</div>
	 			</div>
 			</div>
			
			<div class="container">
		   		<div class="row">
			   		<div class="col-md-12 hero-unit" style="padding-top:30px;padding-bottom:30px;">
						<h4 class="text-center"><strong>Selected TA's for {{cid}}</strong></h4>
						<table>
							<td style="width:350px"><strong>TA Email</strong></td>
							<td style="width:350px"><strong>TA Name</strong></td>
							<td style="width:250px"><strong>Program</strong></td>
							<td style="width:170px"></td>
							<td></td>
						{% csrf_token %}
						{% for element in selected %}
							<tr>
								<td>{{ element.uid.loginid.loginid }}</td>
								<td>{{ element.uid.name }}</td>
								{% if program == 0 %}
								<td>B Tech</td>
								{% elif program == 4 %}
								<td>MTech 1st Year</td>
								{% elif program == 5 %}
								<td>MTech 2nd Year</td>
								{% elif program == 7 %}
								<td>PhD</td>
								{% endif %}
								<td><form action="" method="post">
								{% csrf_token %}
								<input type="submit" class="btn btn-primary" value="Unselect">
								<input type="hidden" value="{{cid}}" name="cid" />
								<input type="hidden" value="1" name="samepage" />
								<input type="hidden" value="{{element.uid.loginid}}" name="loginid" />
								<input type="hidden" value="-1" name="type" />
								</form></td>
						</tr>
						{% endfor %}

					</table>
					</div>
	 			</div>
 			</div>
 			<!-- 
			<div class="container">
		   		<div class="row">
			   		<div class="col-md-12 hero-unit" style="padding-top:30px;padding-bottom:30px;">
						<h4 class="text-center"><strong>Selected TA's for {{cid}}</strong></h4>
						<table>
							<td style="width:170px"><strong>TA Name</strong></td>
							<td style="width:100px"><strong>Program</strong></td>
							<td style="width:170px"></td>
							<td></td>
						{% csrf_token %}
						{% for element in selected %}
							<tr>
								<td>{{ element.uid.name }}</td>
								<td>{{ element.uid.program }}</td>
								
						</tr>
						{% endfor %}

					</table>
					</div>
	 			</div>
 			</div>
			
			<div class="container">
		   		<div class="row">
			   		<div class="col-md-12 hero-unit" style="padding-top:30px;padding-bottom:30px;">
						<h4 class="text-center"><strong>TA's out of the selection pool</strong></h4>
						<p class="text-center">If you think any of these are needed by you, then contact Dr. Samaresh Chatterji</h2>
						<table>
							<td style="width:170px"><strong>TA Name</strong></td>
							<td style="width:100px"><strong>Program</strong></td>
							<td style="width:170px"></td>
							<td></td>
						{% csrf_token %}
						{% for element in all_selected %}
							<tr>
								<td>{{ element.name }}</td>
								<td>{{ element.program }}</td>
						</tr>
						{% endfor %}

					</table>
					</div>
	 			</div>
 			</div> -->
		</section>
		
		
		<section id="testimonials">
     			<div class = "container">
     				<div class = "row">
						<div class="span5 col-md-4 text-center" id = "About">
							
							<h4 class="muted text-center">About</h4>
							<p>This is a freeware service designed by students of <a href="http://www.iiitd.ac.in/" rel="nofollow">IIIT - Delhi</a> as a BYLD project.</p>
							<img src="../../static/student/img/about_us.png" alt="Booom! Logo" height=100 width=340><br><br>
						</div>
						<div class="span2">
						</div>
						<div class="span5 col-md-4 text-center" id="Contact">
							
							<h4 class="muted text-center">Contact</h4>
							
							<p>	Prakhar Gupta - prakhar11074@iiitd.ac.in <br>
						Pulkit Arora - pulkit12082@iiitd.ac.in <br>
						Manish Rana - manish11063@iiitd.ac.in<br>
						Sourabh Singh - sourabh11112@iiitd.ac.in<br>
							</p>
							<img src="../../static/student/img/contactusf.png" alt="Booom! Logo" height=100 width=300><br><br>
						</div>
						<!--<div class="span4">
							<h4 class="muted text-center">Reach Us</h4>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
							<a href="#" class="btn btn-info">Contact Us</a>
						</div>-->
					</div>
				</div>
			</section>
			
			
			
			<section id="footer">
				<div class="bottom-menu-inverse">

				    <div class="container">

				        <div class="row">
				            <div class="col-md-6">
				                <p>Copyright © 2014 <br>Made by Prakhar Gupta, Pulkit Arora, Manish Rana and Sourabh Singh</p>
				            </div>

				            
				        </div>
				    
				    </div><!-- /row -->
				</div><!-- /container -->

			</section>
		</body>
</html>	
