{% load bootstrap %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Admin | Edit Course</title>
    	<link href='../../static/student/css/bootstrap.min.css' rel='stylesheet'>
	    <link href='../../static/student/css/home-specific.css' rel='stylesheet'>
  		<link href='../../static/student/css/siimple.css' rel='stylesheet'>
		
	</head>
	<body style='background-image:url(../../static/student/img/iiitd1.jpg); background-size: 139%, 139%;'>

		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="../../static/student/js/bootstrap.js"></script>
	
	<!-- Static navbar -->
          <div class='navbar navbar-default' role='navigation'>
            <div class='container-fluid'>
              <div class='navbar-header'>

                  <a class='navbar-brand' href='/'><span style='color: #000;'>TA ALLOCATION PORTAL</span></a>
                </div>
              <div class='navbar-collapse collapse'>

              <ul class='nav navbar-nav navbar-right'>
                <li class='active'><a href='/admin'>{{user}}</a></li>
                  <li><a href = "/">Home</a></li>                
                <li><a  class = 'button' href = "#" data-toggle="modal" data-target="#about-modal">About</a></li>           
                <li><a href = "#" data-toggle="modal" data-target="#contact-modal">Contact</a></li>
               <li><a href = "/logout">Sign Out</a></li>
            </ul>
              </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
      </div>

<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true" style = 'margin: 0;
    position: absolute;
    top: 10%;'>

      <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel" style="font-family: Futura, &quot;Trebuchet MS&quot;, Arial, sans-serif; font-size:40px; text-align:center">Edit Course</h4>
          </div>
          <div class = 'modal-body ativa-scroll'>
					
					<p>{{str}}</p>
						<form id="f_gen" action="/professor/editcourse/{{ aid}}" method="post" >
			<div class = 'row'>
				<div class = 'col-md-4'>
    				{{form.cid | bootstrap}}
  				</div>
  				<div class = 'col-md-4'>
    				{{form.cname | bootstrap}}
  				</div>
  				<div class = 'col-md-4'>
    				{{form.cdesc | bootstrap}}
  				</div>
  			</div>
 			<div class = 'row'> 			
  				<div class = 'col-md-4'>
    				{{form.reg_no | bootstrap}}
  				</div>
  				<div class = 'col-md-4'>
    				{{form.sem | bootstrap}}
  				</div>
  				<div class = 'col-md-4'>
    				{{form.year | bootstrap}}
  				</div>
  			</div>
			<div class = 'row'>  			
  				<div class = 'col-md-4'>
    				{{form.prof_id1 | bootstrap}}
  				</div>
  				<div class = 'col-md-4'>
    				{{form.prof_id2 | bootstrap}}
  				</div>
  				<div class = 'col-md-4'>
    				{{form.tutors_min | bootstrap}}
  				</div>
  			</div>
			<div class = 'row'>  			
  				<div class = 'col-md-4'>
    				{{form.tutors_max | bootstrap}}
  				</div>
  				<div class = 'col-md-4'>
    				{{form.s_ta_min | bootstrap}}
  				</div>
  				<div class = 'col-md-4'>
    				{{form.s_ta_max | bootstrap}}
  				</div>
  			</div>
			<div class = 'row'>  			
  				<div class = 'col-md-4'>
    				{{form.j_ta_min | bootstrap}}
  				</div>
  				<div class = 'col-md-4'>
    				{{form.j_ta_max | bootstrap}}
  				</div>
  				<div class = 'col-md-4'>
    				{{form.btech_ta_min | bootstrap}}
  				</div>
  			</div>
 			<div class = 'row'> 			
  				<div class = 'col-md-4'>
    				{{form.btech_ta_max | bootstrap}}
  				</div>
  				<div class = 'col-md-4'>
    				{{form.select_max | bootstrap}}
  				</div>
  				<div class = 'col-md-4'>
            {{ form.course_type | bootstrap }}  
          </div>
  			</div>
        {% csrf_token %}
        <div class="text-center">
            <br><input id="f_gen_b" type="submit" class="btn btn-large btn-success" value="Submit the above changes">
          </div>
        </form>
        
  	{% for i in prereqs %}
      <div class = 'col-md-1'>
        <input type = 'checkbox' id = {{ i.aid }} class = 'checkbox_pre'>
      </div>
      <div class = 'row'>
        <b>PreRequisite {{ forloop.counter }}</b>
      </div>
      <div class = 'row'>
        <div class = 'col-md-4'>
          Course Code: {{ i.prereq.pid }}
        </div>
        <div class = 'col-md-4'>
          Course Name: {{ i.prereq.cname }}
        </div>
        <div class = 'col-md-4'>
        </div>
      </div>
    {% endfor %}
    {% if prereqs_len %}
    <div class = 'row'>
    <input  onclick="executeOnSubmit();" type="submit" class="btn btn-lg btn-success" id="delete1" name="submit" value="Delete selected Pre-Requisites" disabled="true" />
    </div>
    {% endif %}
		<form id="f_gen" action="/admin/addprereq_course/{{ aid }}" method="post" >
      <div class = 'row'>
          <b>PreRequisite </b>
        </div>
      <div class = 'row'>
        
        <div class = 'col-md-4'>
          Select course:
          <select class ="test" id="pre_subjects_2" name="pre_subjects_2">
            {% for element in prereq_all %}

              <option value="{{element.aid}}">{{element.cname }}</option>
            {% endfor %}
          </select>
        </div>
        <div class = 'col-md-4'>
          Select priority:
          <select id="pre_pri_1" name="pre_pri_1">
            <option value="1">Essential</option>
            <option value="0">Preferrable</option>
          </select>
        </div>
        <div class = 'col-md-4'>
          <input  type="submit" class="btn btn-lg btn-success" id="add_prereq1" name="submit" value="Add Pre-Requisite" />
      </div>
      {% csrf_token %}
    </form>
    </div></form>
    <div >
    {% for i in skills %}
      <div class = 'col-md-1'>
        <input type = 'checkbox' id = {{ i.aid }} class = 'checkbox_skill'>
      </div>
      <div class = 'row'>
        <b>Skill {{ forloop.counter }}</b>
      </div>
      <div class = 'row'>
        <div class = 'col-md-4'>
          Skill Kind: {{ i.skill.kind.kname }}
        </div>
        <div class = 'col-md-8'>
          Skill Name: {{ i.skill.sname }}
        </div>
      </div>
    {% endfor %}
    {% if skills_len %}
    <input  onclick="executeOnSubmit1();" type="submit" class="btn btn-lg btn-success" id="delete2" name="submit" value="Delete selected Skills" disabled="true" />
    {% endif %}
    </div>
    <form id="f_gen" action="/admin/addskill_course/{{ aid }}" method="post" >
      <div class = 'row'>
          <b>Skill </b>
        </div>
      <div class = 'row'>
        
        <div class = 'col-md-4'>
          Select Skill name:
          <select class ="test" id="skillname" name="skillname">
            {% for element in skills_all %}

              <option value="{{element.aid}}">{{element.sname }}</option>
            {% endfor %}
          </select>
        </div>
        <div class = 'col-md-4'>
          Required Level:
          <select id="skillvalue" name="skillvalue">
            <option value="5">Low</option>
            <option value="7">Medium</option>
            <option value="9">High</option>
          </select>
        </div>
        <div class = 'col-md-4'>
          <input  type="submit" class="btn btn-lg btn-success" id="add_skill" name="submit" value="Add Skill" />
      </div>
      {% csrf_token %}
    </form>		


							
          </div>

      </div>
    </div>
    </div>
	


<script>
document.getElementById("delete1").disabled = true;
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
</script>
<script>
$('input[class="checkbox_pre"]').on('change', function() {
    checked_vals()
}).change();

function checked_vals(){
    var checked_ids=[];
    $('input[class="checkbox_pre"]:checked').map(function() {
        checked_ids.push(this.id);
    });
    // console.log(checked_ids );
    // console.log(checked_ids.length);
    if(checked_ids.length==0){
      
      document.getElementById("delete1").disabled = true;
    }
    
    if(checked_ids.length>=1){
      
      document.getElementById("delete1").disabled = false;
      
      
      $("#delete1").attr("href","/admin/delete_prereqs/"+checked_ids);

      console.log(location.href);
      // $("#delete1").attr("data-confirm","are you sure you want to delete "+checked_ids.length+" items?");
    }

}
</script>

<script>
$('input[class="checkbox_skill"]').on('change', function() {
    checked_vals1()
}).change();

function checked_vals1(){
    var checked_ids=[];
    $('input[class="checkbox_skill"]:checked').map(function() {
        checked_ids.push(this.id);
    });
    // console.log(checked_ids );
    // console.log(checked_ids.length);
    if(checked_ids.length==0){
      
      document.getElementById("delete2").disabled = true;
    }
    
    if(checked_ids.length>=1){
      
      document.getElementById("delete2").disabled = false;
      
      
      $("#delete1").attr("href","/admin/delete_skills/"+checked_ids);

      console.log(location.href);
      // $("#delete1").attr("data-confirm","are you sure you want to delete "+checked_ids.length+" items?");
    }

}
</script>

<script >
function executeOnSubmit()
{
        var checked_ids=[];
        $('input[type="checkbox"]:checked').map(function() {
            checked_ids.push(this.id);
        });
        console.log(checked_ids);
        var res = confirm("Are you sure you want to delete "+checked_ids.length+" pre-requisites?");
        // link = "/delete_departments?ids="+checked_ids;
        // alert(link);
        console.log(checked_ids);
        if(res==true){
                location.href="/admin/delete_prereqs/"+checked_ids;
                console.log(location.href);
              }
        else
                return false;
        console.log(location.href);
}
</script>
<script >
function executeOnSubmit1()
{
        var checked_ids=[];
        $('input[class="checkbox_skill"]:checked').map(function() {
            checked_ids.push(this.id);
        });
        console.log(checked_ids);
        var res = confirm("Are you sure you want to delete "+checked_ids.length+" skills?");
        // link = "/delete_departments?ids="+checked_ids;
        // alert(link);
        console.log(checked_ids);
        if(res==true){
                location.href="/admin/delete_skills/"+checked_ids;
                console.log(location.href);
              }
        else
                return false;
        console.log(location.href);
}
</script>
<script type="text/javascript">
  $(document).ready(ajustamodal);
  $(window).resize(ajustamodal);
  function ajustamodal() {
    var altura = $(window).height() - 155; //value corresponding to the modal heading + footer
    $(".ativa-scroll").css({"height":altura,"overflow-y":"auto"});
  }
</script>
	</body>
</html>
