{% load bootstrap %}

<html>
		
			<head>
    		<title>Student | Skills</title>
    		<link href='../../static/student/css/bootstrap.min.css' rel='stylesheet'>
			  <link href='../../static/student/css/home-specific.css' rel='stylesheet'>
    		<link href='../../static/student/css/siimple.css' rel='stylesheet'>
 			</head>

			<body style='background-image:url(../../static/student/img/iiitd1.jpg); background-size: 139%, 139%;'>

          <!-- Static navbar -->
          <div class='navbar navbar-default' role='navigation'>
            <div class='container-fluid'>
              <div class='navbar-header'>

                  <a class='navbar-brand' href='/'><span style='color: #000;'>TA ALLOCATION PORTAL</span></a>
                </div>
              <div class='navbar-collapse collapse'>

              <ul class='nav navbar-nav navbar-right'>
                <li class='active'><a href='/admin'>{{user}}</a></li>
                  <li><a href = "/">Home</a></li>                
                <li><a  class = 'button' href = "#" data-toggle="modal" data-target="#about-modal">About</a></li>           
                <li><a href = "#" data-toggle="modal" data-target="#contact-modal">Contact</a></li>
               <li><a href = "/logout">Sign Out</a></li>
            </ul>
              </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
      </div><br><br>
 




 <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true" style = 'margin: 0;
    position: relative;
    top: 0%;'>

      <div class="modal-dialog" style="width: 1000px;">

        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel" style="font-family: Futura, &quot;Trebuchet MS&quot;, Arial, sans-serif; font-size:40px; text-align:center">Your skills</h4>
          </div>
          <div class="modal-body ativa-scroll" id="myModalLabel" style="font-family: Futura, &quot;Trebuchet MS&quot;, Arial, sans-serif; font-size:20px; text-align:center"> {{ str }} 
		   			
							<!--<div style="width:200px; margin:0 auto; margin-top:3%;">-->
							<div class ='col-md-6' >
							<input type="checkbox" id="cbox1" onclick="checkAll()">Mark all n/a</input>
							</div>
							<div style="width:800px; margin:0 auto;" class="text-left">	
							<form id="skill_form" action="" method="post">
							{% csrf_token %}
							{% for kind in klist %}
								{% for k, v in skills.items %}
									{% ifequal kind.aid|stringformat:"s" k|stringformat:"s" %}<br>
                  <div class = 'row' style = 'font-size:30px;'>
                    <div class = 'col-md-4'></div>
                    <div class = 'col-md-6'><strong>{{kind.kname}}</strong></div>
                    <div class = 'col-md-4'></div>
                  </div><br>
                  {% for element in v %}
                  <div class = 'row'>
										
                      <div class = 'col-md-6'>
											<!--strong>{{element.kind.kid}} -> {{element.sname}} </strong><br-->
											{{element.sname}}
                    </div>
                    <td class = 'col-md-3'>
											<select class="SkillValidation" id="{{element.aid}}" name="id_{{element.aid}}">
												<option value="-1">Not Specified</option>
												<option value="0">n/a</option>
												<option value="5"
												{% for key, value in slist.items %}
													{% ifequal element.aid|stringformat:"s" key|stringformat:"s" %}
														{% ifequal value|stringformat:"s" "5"|stringformat:"s" %}
															selected="selected"
														{% endifequal %}	
													{% endifequal %}
												{% endfor %} >Low</option>
												<option value="7" 
												{% for key, value in slist.items %}
													{% ifequal element.aid|stringformat:"s" key|stringformat:"s" %}
														{% ifequal value|stringformat:"s" "7"|stringformat:"s" %}
															selected="selected"
														{% endifequal %}	
													{% endifequal %}
												{% endfor %} >Medium</option>
												<option value="9"
												{% for key, value in slist.items %}
													{% ifequal element.aid|stringformat:"s" key|stringformat:"s" %}
														{% ifequal value|stringformat:"s" "9"|stringformat:"s" %}
															selected="selected"
														{% endifequal %}	
													{% endifequal %}
												{% endfor %} >High</option>
												</select>
                      </td>
										
                  </div>
                  {% endfor %}
										<!--table>
										{% for element in v %}
											<tr>
												<td>{{element.sname}}</td>
												<td><select id="{{element.sid}}" name="id_{{element.sid}}">
												<option value="1">Low</option>
												<option value="2">Medium</option>
												<option value="3">High</option>
												</select>
												</td>
												<td><input type="number" name="id_{{element.sid}}"
												{% for key, value in slist.items %}
													{% ifequal element.sid|stringformat:"s" key|stringformat:"s" %}
														value="{{value}}"
													{% endifequal %}
												{% endfor %}
												></td>
											</tr>
										{% endfor %}
										</table-->
									{% endifequal %}	
								{% endfor %}
							{% endfor %}
              <div style = 'text-align:center;'>
                <div class = 'row'>
                  <div class = 'col-md-4'></div>
                  <div class = 'col-md-4'>
							<br><input id="submit" class="btn btn-large btn-block btn-success" value="Submit">
            </div>
            </div>
            </div>
							</form>

      </div>
    </div>
    </div>
</div>
</div>
	 <!-- contact modal -->


<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <div class = 'row'>
        <div class = 'col-md-1'></div>
        <div class = 'col-md-3'>
          <img src = '../../static/student/img/Pulkit.jpg' style='border-radius:50%' height='120' width = '120'> 
        </div>
        <div class = 'col-md-6'>
          <div style='text-align:center'><br><br>
          <span style = 'font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size:20px;'>Pulkit Arora - pulkit12082@iiitd.ac.in</span>
          </div>
        </div>
      </div><br>
      <div class = 'row'>
        <div class = 'col-md-1'></div>
        <div class = 'col-md-3'>
          <img src = '../../static/student/img/Prakhar.jpg' style='border-radius:50%' height='120' width = '120'> 
        </div>
        <div class = 'col-md-6'>
          <div style='text-align:center'><br><br>
          <span style = 'font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size:20px;'>Prakhar Gupta - prakhar11074@iiitd.ac.in</span>
          </div>
        </div>
      </div><br>
      <div class = 'row'>
        <div class = 'col-md-1'></div>
        <div class = 'col-md-3'>
          <img src = '../../static/student/img/Kushagra.jpg' style='border-radius:50%' height='120' width = '120'> 
        </div>
        <div class = 'col-md-6'>
          <div style='text-align:center'><br><br>
          <span style = 'font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size:20px;'>Kushagra Singh - kushagra14056@iiitd.ac.in</span>
          </div>
        </div>
      </div><br>
      <div class = 'row'>
        <div class = 'col-md-1'></div>
        <div class = 'col-md-3'>
          <img src = '' style='border-radius:50%' height='120' width = '120'> 
        </div>
        <div class = 'col-md-6'>
          <div style='text-align:center'><br><br>
          <span style = 'font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size:20px;'>Manish Rana - manish11063@iiitd.ac.in</span>
          </div>
        </div>
      </div><br>
      <div class = 'row'>
        <div class = 'col-md-1'></div>
        <div class = 'col-md-3'>
          <img src = '' style='border-radius:50%' height='120' width = '120'> 
        </div>
        <div class = 'col-md-6'>
          <div style='text-align:center'><br><br>
          <span style = 'font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size:20px;'>Sourabh Singh - sourabh11112@iiitd.ac.in</span>
          </div>
        </div>
      </div><br>

      </div>
      
    </div>
  </div>
</div>


  <!-- contact modal ends -->

  <!-- about modal -->

<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style='width:500px;'>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel" style = 'font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size:20px; text-align:center' >About</h4>
      </div>
      <div class="modal-body">
        <span style = 'font-size:20px;'>
          This is a freeware service designed by students of <a href="http://www.iiitd.ac.in/" rel="nofollow">IIIT - Delhi</a> as a BYLD project.
        </span>

              </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <!-- about modal ends -->


    <script type="text/javascript" src='../../static/student/js/jquery-1.10.2.min.js'></script>
    <script type="text/javascript" src='../../static/student/js/bootstrap.min.js'></script>
    <script type="text/javascript" src='../../static/student/js/jquery.js'></script>
  <!--Skill form Validation-->  
<script>
 $('#submit').click( function() {
    er=0;
    $("g").remove(); 	
    $(".SkillValidation").each(function(){
      if(parseInt($(this).val(), 10)==-1)
      {
      	  er=1;
          $(this).parent().append("<g><font color='red'>*Required Field</font></g>");
      }  
    });
    if(er==0)
    {
      $('#skill_form').submit();
    }
    else if(er==1)
    {
      $("#errors").append("<g><font color='red'>Fix the following errors</font></g>");
      $('html,body').animate({ scrollTop: 0 }, 'slow', function () {});
    }
  });
  
function checkAll()
{ if(document.getElementById("cbox1").checked == true)
  {
  	  var selectList= document.getElementsByTagName("select");;
	  for (i = 0; i < selectList.length; i++) {
	  	selectList[i].value = "0";
	  }
  }
  else
  {
      window.location.reload();		  
  }
}  
</script>
</body>
</html>

<script type="text/javascript">
  $(document).ready(ajustamodal);
  $(window).resize(ajustamodal);
  function ajustamodal() {
    var altura = $(window).height() - 155; //value corresponding to the modal heading + footer
    $(".ativa-scroll").css({"height":altura,"overflow-y":"auto"});
  }
</script>
