{% load bootstrap %}

<html>
    
      <head>
        <title>Student | Apply</title>
        <link href='../../static/student/css/bootstrap.min.css' rel='stylesheet'>
        <link href='../../static/student/css/home-specific.css' rel='stylesheet'>
        <link href='../../static/student/css/siimple.css' rel='stylesheet'>
      </head>

      <body style='background-image:url(../../static/student/img/iiitd1.jpg); background-size: 139%, 139%;'>

          <!-- Static navbar -->
          <div class='navbar navbar-default' role='navigation'>
            <div class='container-fluid'>
              <div class='navbar-header'>

                  <a class='navbar-brand' href='/'><span style='color: #000;'>TA ALLOCATION PORTAL</span></a>
                </div>
              <div class='navbar-collapse collapse'>

              <ul class='nav navbar-nav navbar-right'>
                <li class='active'><a href='/admin'>{{user}}</a></li>
                  <li><a href = "/">Home</a></li>                
                <li><a  class = 'button' href = "#" data-toggle="modal" data-target="#about-modal">About</a></li>           
                <li><a href = "#" data-toggle="modal" data-target="#contact-modal">Contact</a></li>
               <li><a href = "/logout">Sign Out</a></li>
            </ul>
              </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
      </div><br><br>
 




 <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true" style = 'margin: 0;
    position: relative;
    top: 0%;'>

      <div class="modal-dialog" style="width: 1000px;">

        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel" style="font-family: Futura, &quot;Trebuchet MS&quot;, Arial, sans-serif; font-size:40px; text-align:center"><strong>Course Application Form</strong></</h4>
          </div>
          <div class="modal-body ativa-scroll" id="myModalLabel" style="font-family: Futura, &quot;Trebuchet MS&quot;, Arial, sans-serif; font-size:20px; text-align:center"> {{ str }} 
            
              <!--<div style="width:200px; margin:0 auto; margin-top:3%;">-->
              <div style="width:800px; margin:0 auto;" class="text-left"> 
            <form id="f1" action="/ta/apply/done" method="post" >
            {% csrf_token %}
              <ul>
              <li style="font-size:18px;"> Please round off your scores to the nearest integer </li>
              <li style="color:red;font-size:18px;"> Ensure that you enter the correct grades in your course. We will cross-check with your submitted transcripts </li>
              </ul>
              <br>
              <div style="width:800px; margin:0 auto;" class="text-left">
              <div class="text-left" id ="errors">
              </div>
                
                <table style="width:800px">
                <tr><td style="width:250px"><strong><u>Course ID</u></strong></td><td>: {{course.cid}}</td>
                </tr>
                <tr><td><strong><u>Course Name</u></strong></td><td>: {{course.cname}}</td>
                </tr>
                <!--tr><td><strong><u>Year</u></strong></td><td>: {{course.year}}</td>
                </tr-->
                <tr><td><strong><u>Professor's Email Id</u></strong></td><td>: {{course.prof_id1.loginid}}</td>
                </tr>
                <tr><td><strong><u>TA's Required</u></strong></td><td>: {{course.ta_min}}-{{course.ta_max}}</td>
                </tr>
                <tr><td><strong><u>Your Grade in the course</u></strong></td><td>: <input class="GradeValidation" type="text" name="grade" value="{{score}}"></td><td style="width:250px; padding-left:10px;"></td>
                </tr>
                
                </table>
                <br><br>
                
                <h4 class="text-left"><strong>Prerequisites</strong><p>(Enter your grades on the scale of 1-10)</p></h4>
                <table style="width:700px">
                {% for element in prereqs %}
                <tr>
                <td><strong>{{element.prereq.cname}}  </strong></td>
                <td style="width:250px; padding-left:10px;">: <input class="GradeValidation" type="text" name="p_{{element.prereq.aid}}"
                {% for key, value in gradelist.items %}
                  {% ifequal element.prereq.aid|stringformat:"s" key|stringformat:"s" %}
                    value="{{value}}"
                  {% endifequal %}
                {% endfor %}></td><td style="width:250px; padding-left:10px;"></td>
                </tr>
                {% endfor %}
                </table>
                <br><br>
                
                <h4 class="text-left"><strong>Skills</strong><p>(Choose your level of skill)</p></h4>
                <table style="width:800px">
                {% for element in skills %}
                <tr>
                <td><strong>{{element.skill.sname}}  </strong></td>
                <td><select class= "SkillValidation" id="{{element.skill.aid}}" name="s_{{element.skill.aid}}">
                    <option value="-1">Not Specified</option>
                    <option value="0">NA</option>
                    <option value="5"
                    {% for key, value in slist.items %}
                          {% ifequal element.skill.aid|stringformat:"s" key|stringformat:"s" %}
                            {% ifequal value|stringformat:"s" "5"|stringformat:"s" %}
                              selected="selected"
                            {% endifequal %}  
                          {% endifequal %}
                        {% endfor %} >Low</option>
                    <option value="7"
                    {% for key, value in slist.items %}
                          {% ifequal element.skill.aid|stringformat:"s" key|stringformat:"s" %}
                            {% ifequal value|stringformat:"s" "7"|stringformat:"s" %}
                              selected="selected"
                            {% endifequal %}  
                          {% endifequal %}
                        {% endfor %} >Medium</option>
                    <option value="9"
                    {% for key, value in slist.items %}
                          {% ifequal element.skill.aid|stringformat:"s" key|stringformat:"s" %}
                            {% ifequal value|stringformat:"s" "9"|stringformat:"s" %}
                              selected="selected"
                            {% endifequal %}  
                          {% endifequal %}
                        {% endfor %} >High</option>
                  </select>
                </td>
                </tr>
                {% endfor %}
                </table>
              </div>
              <input type="hidden" value="{{course.aid}}" name="aid" />
            </form>
            <div class="text-center">
              <button id="sb" class="btn btn-large btn-success"> Submit </button>
            </div>

      </div>
    </div>
    </div>
</div>
</div>
   <!-- contact modal -->


<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <div class = 'row'>
        <div class = 'col-md-1'></div>
        <div class = 'col-md-3'>
          <img src = '../../static/student/img/Pulkit.jpg' style='border-radius:50%' height='120' width = '120'> 
        </div>
        <div class = 'col-md-6'>
          <div style='text-align:center'><br><br>
          <span style = 'font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size:20px;'>Pulkit Arora - pulkit12082@iiitd.ac.in</span>
          </div>
        </div>
      </div><br>
      <div class = 'row'>
        <div class = 'col-md-1'></div>
        <div class = 'col-md-3'>
          <img src = '../../static/student/img/Prakhar.jpg' style='border-radius:50%' height='120' width = '120'> 
        </div>
        <div class = 'col-md-6'>
          <div style='text-align:center'><br><br>
          <span style = 'font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size:20px;'>Prakhar Gupta - prakhar11074@iiitd.ac.in</span>
          </div>
        </div>
      </div><br>
      <div class = 'row'>
        <div class = 'col-md-1'></div>
        <div class = 'col-md-3'>
          <img src = '../../static/student/img/Kushagra.jpg' style='border-radius:50%' height='120' width = '120'> 
        </div>
        <div class = 'col-md-6'>
          <div style='text-align:center'><br><br>
          <span style = 'font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size:20px;'>Kushagra Singh - kushagra14056@iiitd.ac.in</span>
          </div>
        </div>
      </div><br>
      <div class = 'row'>
        <div class = 'col-md-1'></div>
        <div class = 'col-md-3'>
          <img src = '' style='border-radius:50%' height='120' width = '120'> 
        </div>
        <div class = 'col-md-6'>
          <div style='text-align:center'><br><br>
          <span style = 'font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size:20px;'>Manish Rana - manish11063@iiitd.ac.in</span>
          </div>
        </div>
      </div><br>
      <div class = 'row'>
        <div class = 'col-md-1'></div>
        <div class = 'col-md-3'>
          <img src = '' style='border-radius:50%' height='120' width = '120'> 
        </div>
        <div class = 'col-md-6'>
          <div style='text-align:center'><br><br>
          <span style = 'font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size:20px;'>Sourabh Singh - sourabh11112@iiitd.ac.in</span>
          </div>
        </div>
      </div><br>

      </div>
      
    </div>
  </div>
</div>


  <!-- contact modal ends -->

  <!-- about modal -->

<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style='width:500px;'>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel" style = 'font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size:20px; text-align:center' >About</h4>
      </div>
      <div class="modal-body">
        <span style = 'font-size:20px;'>
          This is a freeware service designed by students of <a href="http://www.iiitd.ac.in/" rel="nofollow">IIIT - Delhi</a> as a BYLD project.
        </span>

              </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <!-- about modal ends -->


    <script type="text/javascript" src='../../static/student/js/jquery-1.10.2.min.js'></script>
    <script type="text/javascript" src='../../static/student/js/bootstrap.min.js'></script>
    <script type="text/javascript" src='../../static/student/js/jquery.js'></script>


  <script>
  $('#sb').click( function() {
    er=0;
    $("g").remove(); 	
    $(".GradeValidation").each(function(){
      if($.isNumeric($(this).val()))
      {
        //alert(parseInt($(this).val(), 10));
        if(parseInt($(this).val(), 10) < 0 || parseInt($(this).val(), 10) > 10)
        {
          er=1;
          $(this).parent().append("<g><font color='red'><br/>Grade must be in 0 to 10</font></g>");
        }
      }
      else if($(this).val().length == 0) 
      {
      	er=1;
        $(this).parent().next().html("<g><font color='red'><br/>*Required Field</font></g>");
      }
      else
      {
        er=1;
        $(this).parent().next().html("<g><font color='red'><br/>Must be a number</font></g>");
      } 
    });
    $(".SkillValidation").each(function(){
      if(parseInt($(this).val(), 10)==-1)
      {
      	  er=1;
          $(this).parent().append("<g><font color='red'>*Required Field</font></g>");
      }  
    });
    if(er==0)
    {
      $('#f1').submit();
    }
    else if(er==1)
    {
      $("#errors").append("<g> <font color='red'>Fix the following errors</font></g>");
      $('html,body').animate({ scrollTop: 0 }, 'slow', function () {});
    }
  });
  </script>
</body>
</html>

<script type="text/javascript">
  $(document).ready(ajustamodal);
  $(window).resize(ajustamodal);
  function ajustamodal() {
    var altura = $(window).height() - 155; //value corresponding to the modal heading + footer
    $(".ativa-scroll").css({"height":altura,"overflow-y":"auto"});
  }
</script>
